.ui.one.column.page.grid
  .column
    h2.logo
    .searchbox
      input(type='text' id='text1' placeholder='請直接輸入想搜尋的關鍵字' ng-model='queryString' autofocus)
      a(href='#')
        p 送  出
    .main_btn
      ul
        li.gov
          a(href='#')
        li.men
          a(href='#')
    .footer
