.fixed.ui.top.inverted.menu
    .container
        .item.menu
          a.header.brand(href='/#/addressbook/') 政府公開通訊錄
        .content.right.menu
          a.item
            | 關於我們
          a.item
            | G0V 零時政府
